* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    width: 100vw;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: #cdd6f4;
}

a {
    color: #89b4fa;
}

.header-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.header-group button {
    border: 2px solid #7c7f93;
    background-color: #1e1e2e;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #11111b;
    border-bottom: 4px solid #f38ba8;
}

header h1 {
    font-size: 2rem;
    margin-left: 2rem;
}

header a {
    font-size: 1.1rem;
    margin-right: 2rem;
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181825;
}

main table {
    width: 90%;
    height: 90%;
    border: 3px solid #9399b2;
    border-collapse: collapse;
}
td {
    border: 3px solid #9399b2;
}

td img {
    height: 150px;
    width: 150px;
}